/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  overflow: auto;
  min-width: 375px;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-self: center;
  justify-self: center;
  padding: var(--padding-small);
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--accent-color-primary);

}

.decorated-zone::after {
  content: "";
    content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: var(--accent-color-primary);
}


.rec {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 19px;
  padding-right: 15px;
  color: var(--accent-color-primary);
  
}

.rec::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color-primary);
  box-shadow: 0 0 4px 2px var(--accent-color-primary);
  z-index: 1;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__title {
  font-weight: var(--font-bold);
  font-size: 116px;
  line-height: 83%;
  color: var(--accent-color-tertiary);
  text-shadow: 4px 4px var(--accent-color-primary);
}

.header__paragraph {
  background-color: var(--accent-color-primary);
  color: var(--accent-color-secondary);
  font-weight: var(--font-bold);
  line-height: 23.4px;
  letter-spacing: 0%;
}
